<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style1.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Dave </title>
	<link rel="icon" type="image/x-icon" href="/images/favicon.png">
	
</head>
<body onload="changemode1()">
	<div  id="header">
		
		<!-- phone -->
		<div id="mySidepanel" class="sidepanel">
		<a href="javascript:void(0)" style="padding-top: 10px; font-size: larger; color: red;" class="closebtn" onclick="closeNav()" > × </a>
		
		<div id="modeicon" onclick="changemod()"><img src="/images/dark-mode.png" style="height: 20px; " alt=""></div>
		<a href="/index" class="textmode" >Home</a>
		<a href="/dsa" class="textmode">DSA</a>
		<a href="/editor" class="textmode">Contest Coding</a>
		<a href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA" class="textmode">Youtube</a>
		<a href="/contact" class="textmode">Contact me</a>
	  </div>
	  <div class="logoD"><a href="/index"><img src="/images/logo.png" ></a></div>
	  <!-- dekstop -->
	  <div class="head_container">
		  <div id="modeicon" style="margin-top: 1.8%; padding-top: 0px; padding-bottom: 0px;"  onclick="changemod()" style="margin-right: 8%;" > <img src="images/dark-mode.png" style="height: 20px; " alt=""></div>
		  <div class="headerelements"><a  class="textmode" href="/contact">Contact me</a></div>
		  <div class="headerelements"><a class="textmode"  href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA">Youtube</a></div>
		  <div class="headerelements"><a class="textmode" href="/editor">Contest Coding</a></div>
		  <div class="headerelements"><a class="textmode" href="/dsa">DSA</a></div>
		  <div class="headerelements"><a class="textmode" href="/index" >Home</a> </div>
	 </div>
	  <button class="openbtn textmode" onclick="openNav()"  >☰ </button>  
	</div>
	  <!-- Loading Page -->
	<div id="loading">
		<table>
			<tr style="text-align: center;">
				<td><img src="images/load_logo.png" style="height: 50px;" alt=""></td>
		    </tr>
			<tr>
				<td><h1 style="display: block;">Loading...</h1></td>
			</tr>
		</table>
	</div>
    <!-- Array and Stl Intro -->
	<div class="discriptiondsa">
		<div class="typed-out">Array and STL</div>
	</div>
	  
    <!-- Array and STL  -->
	

		<div id="droparray">
					
			<a class="serial" href="https://youtu.be/FCk5XwMkV1A">1. Array Data Structure </a><hr>
			<a class="serial" href="https://youtu.be/lvIR5PSA3rM">2. Vector and Pair </a><hr>
			<a class="serial" href="https://youtu.be/mw_gL2bwXv8">3. Map and Unordered_map </a><hr>
			<a class="serial" href="https://youtu.be/pwhddGMddXk">4. Set and unordered_set </a><hr>
			<a class="serial" href="https://youtu.be/_8hYkUSTPTc">5. Maximum Minimum element and Reverse </a><hr>
			<a class="serial" href="https://youtu.be/g22mdOEqJDE">6. Left Rotation of Array </a><hr>
			<a class="serial" href="https://youtu.be/a5MYpxwVd0Y">7. Move Zero's to the end of Array </a><hr>
			<a class="serial" href="https://youtu.be/XtsXrOz9yFw">8. Best Time to Buy & Sell Stocks </a><hr>
			<a class="serial" href="https://youtu.be/L8OttHOCryE">9. Kadane's Algorithm </a><hr>
			<a class="serial" href="https://youtu.be/oZLdA8Bkklo">10. Leaders in a Array </a><hr>
			<a class="serial" href="https://youtu.be/NNGstf2hrqM">11. Majority Element</a><hr>
			<a class="serial" href="https://youtu.be/9BmQB-RlBqQ">12. Sliding Window Concept </a><hr>
			<a class="serial" href="https://youtu.be/yc0BkczS_G4">13. Container with most water </a><hr>
			<a class="serial" href="https://youtu.be/zI-S4GWZxso">14. Next Permutation</a><hr>
			<a class="serial" href="https://youtu.be/nlOKYwH9K9Y">15. Trapping Rain Water (Part - 1) </a><hr>
			<a class="serial" href="https://youtu.be/3WAg3lv2ejE">16. Trapping Rain Water Maximum Optimisation </a> <hr>
			
		</div>

    
	<script src="script.js"></script>
	
	
	<div id="footer" >
		<div class="bottomblock textmode"> 
			Beat The Luck Dave
		</div> 
		<div class="socialmedia">
		<a href="https://www.instagram.com/dave_to_crack_code/"><img src="images/instagram.png" alt=""></a>
		<a href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA"><img src="images/youtube.png" alt=""></a>
		<a href="https://www.linkedin.com/in/dave-to-crack-code/"><img src="images/linkedin.png" alt=""></a>
	</div>
	</div>
	
</body>
</html>