<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style1.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Dave </title>
	<link rel="icon" type="image/x-icon" href="/images/favicon.png">
	
</head>
<body onload="changemode1()">
	<div  id="header">
		
		<!-- phone -->
		<div id="mySidepanel" class="sidepanel">
		<a href="javascript:void(0)" style="padding-top: 10px; font-size: larger; color: red;" class="closebtn" onclick="closeNav()" > × </a>
		
		<div id="modeicon" onclick="changemod()"><img src="images/dark-mode.png" style="height: 20px; " alt=""></div>
		<a href="index.html" class="textmode" >Home</a>
		<a href="menu.html" class="textmode">DSA</a>
		<a href="editor.html" class="textmode">Contest Coding</a>
		<a href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA" class="textmode">Youtube</a>
		<a href="contact.html" class="textmode">Contact me</a>
	  </div>
	  <div class="logoD"><a href="index.html"><img src="images/logo.png" ></a></div>
	  <!-- dekstop -->
	  <div class="head_container">
		  <div id="modeicon" style="margin-top: 1.8%; padding-top: 0px; padding-bottom: 0px;"  onclick="changemod()" style="margin-right: 8%;" > <img src="images/dark-mode.png" style="height: 20px; " alt=""></div>
		  <div class="headerelements"><a  class="textmode" href="contact.html">Contact me</a></div>
		  <div class="headerelements"><a class="textmode"  href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA">Youtube</a></div>
		  <div class="headerelements"><a class="textmode" href="editor.html">Contest Coding</a></div>
		  <div class="headerelements"><a class="textmode" href="menu.html">DSA</a></div>
		  <div class="headerelements"><a class="textmode" href="index.html" >Home</a> </div>
	 </div>
	  <button class="openbtn textmode" onclick="openNav()"  >☰ </button>  
	</div>
	  <!-- Loading Page -->
	<div id="loading">
		<table>
			<tr style="text-align: center;">
				<td><img src="images/load_logo.png" style="height: 50px;" alt=""></td>
		    </tr>
			<tr>
				<td><h1 style="display: block;">Loading...</h1></td>
			</tr>
		</table>
	</div>
    <!-- DSA Intro -->
	<div class="discriptiondsa">
		<div class="typed-out">Binary Search</div>
	</div>
	  
    <!-- Binary Search  -->
	
    <div id="Searching">
       
        <a class="serial" href="https://youtu.be/4B7SRoo4Z-0">1. Binary Search Algorithm </a><hr>
        <a class="serial" href="https://youtu.be/aOI5sihqXL4">2. First and Last Occurrence of Element </a><hr>
        <a class="serial" href="https://youtu.be/8OgpE3I3KhQ">3. Search in Sorted Rotated Array</a><hr>
        <a class="serial" href="https://youtu.be/WCyEi5MLhtc">4. Square Root </a><hr>
        <a class="serial" href="https://youtu.be/DsynPZ0q-8E">5. Ceil & Floor of a Element in a Sorted Array </a><hr>
        <a class="serial" href="https://youtu.be/Lh7T5k7N2Vs">6. Peak Element (Unsorted Array) </a><hr>
        <a class="serial" href="https://youtu.be/rD4dmBdCXp0">7. Search in Infinite Sorted Array </a><hr>
        <a class="serial" href="https://youtu.be/KnPHIRSpm3A">8. Minimum Difference Element in Sorted Array </a><hr>
        <a class="serial" href="https://youtu.be/7g5la-SIjnE">9. Median of Two Sorted Array </a><hr>
        <a class="serial" href="https://youtu.be/9PuGK9SCi4E">10. Allocate Minimum Number of Pages </a><hr>
        
    </div>
    
	<script src="script.js"></script>
	
	
	<div id="footer" >
		<div class="bottomblock textmode"> 
			Beat The Luck Dave
		</div> 
		<div class="socialmedia">
		<a href="https://www.instagram.com/dave_to_crack_code/"><img src="images/instagram.png" alt=""></a>
		<a href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA"><img src="images/youtube.png" alt=""></a>
		<a href="https://www.linkedin.com/in/dave-to-crack-code/"><img src="images/linkedin.png" alt=""></a>
	</div>
	</div>
	
</body>
</html>