<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style1.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Dave </title>
	<link rel="icon" type="image/x-icon" href="/images/favicon.png">
	
</head>
<body onload="changemode1()">
	<div  id="header">
		
		<!-- phone -->
		<div id="mySidepanel" class="sidepanel">
		<a href="javascript:void(0)" style="padding-top: 10px; font-size: larger; color: red;" class="closebtn" onclick="closeNav()" > × </a>
				
		<div id="modeicon" onclick="changemod()"><img src="images/dark-mode.png" style="height: 20px; " alt=""></div>
		<a href="/index" class="textmode" >Home</a>
		<a href="#" class="textmode">DSA</a>
		<a href="/editor" class="textmode">Contest Coding</a>
		<a href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA" class="textmode">Youtube</a>
		<a href="/contact" class="textmode">Contact me</a>
	  </div>
	  <div class="logoD"><a href="/index"><img src="/images/logo.png" ></a></div>
	  <!-- dekstop -->
	  <div class="head_container">
		<div id="modeicon" style="margin-top: 1.8%; padding-top: 0px; padding-bottom: 0px;" onclick="changemod()" style="margin-right: 8%;"> <img src="images/dark-mode.png" style="height: 20px; " alt=""></div>
		    <div class="headerelements"><a  class="textmode" href="/contact">Contact me</a></div>
		  <div class="headerelements"><a class="textmode"  href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA">Youtube</a></div>
		  <div class="headerelements"><a class="textmode" href="/editor">Contest Coding</a></div>
		  <div class="headerelements"><a class="textmode" href="#">DSA</a></div>
		  <div class="headerelements"><a class="textmode" href="/index" >Home</a> </div>
	 </div>
	  <button class="openbtn textmode" onclick="openNav()"  >☰ </button>  
	</div>
	  <!-- Loading Page -->
	<div id="loading">
		<table>
			<tr style="text-align: center;">
				<td><img src="images/load_logo.png" style="height: 50px;" alt=""></td>
		    </tr>
			<tr>
				<td><h1 style="display: block;">Loading...</h1></td>
			</tr>
		</table>
	</div>
    <!-- DSA Intro -->
	<div class="discriptiondsa">
		<div class="typed-out">Data Structure and Algorithm</div>
	</div>
	  
    <!-- Array and STL  -->
	<hr>	
		<div id="discriptionblock">
			<a class="discription" href="/arraystl"><img src="images/arraystl.png"></a>
			<div class="discription">
				<h3>Array and STL C++</h3>
				This Playlist is made to clear the Concepts from a very basic level to Hard Level Problems.
				Starting From Array Definition then Learning STL(Standard Template Library) Functions,
			    Then Solving Problems From different Concepts Which will Boost up your Skills in Competitive Programming and DSA ( Data Structures and Algorithm).
			</div>
		</div>
	<hr>
        

	<!-- Sorting Searching -->
		<div id="discriptionblock">
			<a class="discription" href="/sorting"><img src="images/sorting_searching.png"></a>
			<div class="discription">
				<h3>Sorting and Searching</h3>
				This Playlist is made to Cover Important Algorithms in Searching and Sorting, So that by completing the Playlist one can Solve Questions related to Binary Search and also one can explain the important Sorting Techniques.	</div>
		</div>
		<hr>
		
    <!-- Binary Search -->
			
		<div id="discriptionblock">
			<a class="discription" href="/binary_search"><img src="images/binary_search.png"></a>
			<div class="discription">
				<h3>Binary Search</h3>
				This Playlist is based on BINARY SEARCH Algorithm and the Questions related to Binary Search from a Basic Level to Advanced Level .</div>
		<hr>
		

	<!-- Recursion -->
			
	<div id="discriptionblock">
		<a class="discription" href="/recursion"><img src="images/recursion.png"></a>
		<div class="discription">
			<h3>Recursion</h3>
			This Playlist is based on RECURSION in which concept building from basic to advanced is done. 
			The order of the Questions from a Basic Level to Advanced Level is maintained so that one can feel Confident after completing this series.</div>
	<hr>
		
		
	 
	<script src="script.js"></script>
	
	
	<div id="footer" >
		<div class="bottomblock textmode"> 
			Beat The Luck Dave
		</div> 
		<div class="socialmedia">
		<a href="https://www.instagram.com/dave_to_crack_code/"><img src="images/instagram.png" alt=""></a>
		<a href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA"><img src="images/youtube.png" alt=""></a>
		<a href="https://www.linkedin.com/in/dave-to-crack-code/"><img src="images/linkedin.png" alt=""></a>
	</div>
	</div>
	
</body>
</html>