<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="style1.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> Dave </title>
		<link rel="icon" type="image/x-icon" href="/images/favicon.png">

	</head>
	<body align="center" class="editorb" onload="changemode1()" >
		<div id="header">

			<!-- phone -->
			<div id="mySidepanel" class="sidepanel">
				<a href="javascript:void(0)" style="padding-top: 10px; font-size: larger;
					color: red;" class="closebtn" onclick="closeNav()"> × </a>

				<div id="modeicon" onclick="changemod()"><img src="images/dark-mode.png"
						style="height: 20px; " alt=""></div>
				<a href="/index" class="textmode">Home</a>
				<a href="/dsa" class="textmode">DSA</a>
				<a href="/editor" class="textmode">Contest Coding</a>
				<a href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA"
					class="textmode">Youtube</a>
				<a href="/contact" class="textmode">Contact me</a>
			</div>
			<div class="logoD"><a href="/index"><img src="images/logo.png"></a></div>
			<!-- dekstop -->
			<div class="head_container">
				<div id="modeicon" style="margin-top: 1.8%; padding-top: 0px;
					padding-bottom: 0px;" onclick="changemod()" style="margin-right: 8%;"> <img
						src="images/dark-mode.png" style="height: 20px; " alt=""></div>
				<div class="headerelements"><a class="textmode" href="/contact">Contact me</a></div>
				<div class="headerelements"><a class="textmode"
						href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA">Youtube</a></div>
				<div class="headerelements"><a class="textmode" href="/editor">Contest
						Coding</a></div>
				<div class="headerelements"><a class="textmode" href="/dsa">DSA</a></div>
				<div class="headerelements"><a class="textmode" href="/index">Home</a>
				</div>
			</div>
			<button class="openbtn textmode" onclick="openNav()">☰ </button>
		</div>
		<!-- Loading Page -->
		<div id="loading">
			<table>
				<tr style="text-align: center;">
					<td><img src="images/load_logo.png" style="height: 50px;" alt=""></td>
				</tr>
				<tr>
					<td><h1 style="display: block;">Loading...</h1></td>
				</tr>
			</table>
		</div>
		<div class="discriptiondsa">
			<div class="typed-out" style="font-size: larger;">Upcoming Contests</div>
		</div>
          <div id="timetable">
         <table>
			<tr>
				<th>Date</th>
				<th>Platform</th>
				<th>Time</th>
				<th>Link</th>
			</tr>
		
			<tr  class="timetable_even">
				<td>24 May 2023</td>
				<td>Codechef</td>
				<td>8:00pm</td>
				<td><a href="https://www.codechef.com/contests?itm_medium=navmenu&itm_campaign=allcontests">link</a></td>

			</tr>
			<tr>
				<td>27 May 2023</td>
				<td>Leetcode</td>
				<td>8:00pm</td>
				<td><a href="https://leetcode.com/contest/">link</a></td>

			</tr>
			<tr  class="timetable_even">
				<td>28 May 2023</td>
				<td>Leetcode</td>
				<td>8:00am</td>
				<td><a href="https://leetcode.com/contest/">link</a></td>

			</tr>
			<tr>
				<td>31 May 2023</td>
				<td>Codechef</td>
				<td>8:00pm</td>
				<td><a href="https://www.codechef.com/contests?itm_medium=navmenu&itm_campaign=allcontests">link</a></td>

			</tr>
			<tr  class="timetable_even">
				<td>04 June 2023</td>
				<td>Leetcode</td>
				<td>8:00am</td>
				<td><a href="https://leetcode.com/contest/">link</a></td>

			</tr>
			<tr>
				<td>07 June 2023</td>
				<td>Codechef</td>
				<td>8:00pm</td>
				<td><a href="https://www.codechef.com/contests?itm_medium=navmenu&itm_campaign=allcontests">link</a></td>

			</tr>
			<tr  class="timetable_even">
				<td>10 June 2023</td>
				<td>Leetcode</td>
				<td>8:00pm</td>
				<td><a href="https://leetcode.com/contest/">link</a></td>

			</tr>
			<tr>
				<td>11 June 2023</td>
				<td>Leetcode</td>
				<td>8:00am</td>
				<td><a href="https://leetcode.com/contest/">link</a></td>
				
			</tr>
			<tr  class="timetable_even">
				<td>14 June 2023</td>
				<td>Codechef</td>
				<td>8:00pm</td>
				<td><a href="https://www.codechef.com/contests?itm_medium=navmenu&itm_campaign=allcontests">link</a></td>

			</tr>
			<tr>
				<td>18 June 2023</td>
				<td>Leetcode</td>
				<td>8:00am</td>
				<td><a href="https://leetcode.com/contest/">link</a></td>
				
			</tr>
			<tr  class="timetable_even">
				<td>21 June 2023</td>
				<td>Codechef</td>
				<td>8:00pm</td>
				<td><a href="https://www.codechef.com/contests?itm_medium=navmenu&itm_campaign=allcontests">link</a></td>

			</tr>
			<tr>
				<td>24 June 2023</td>
				<td>Leetcode</td>
				<td>8:00pm</td>
				<td><a href="https://leetcode.com/contest/">link</a></td>
				
			</tr>
			<tr  class="timetable_even">
				<td>25 June 2023</td>
				<td>Leetcode</td>
				<td>8:00am</td>
				<td><a href="https://leetcode.com/contest/">link</a></td>

			</tr>
			<tr>
				<td>28 June 2023</td>
				<td>Codechef</td>
				<td>8:00pm</td>
				<td><a href="https://www.codechef.com/contests?itm_medium=navmenu&itm_campaign=allcontests">link</a></td>

			</tr>

		 </table>

        </div>

		
		<script src="script.js"></script>

		<div id="footer">
			<div class="bottomblock textmode">
				Beat The Luck Dave
			</div>
			<div class="socialmedia">
				<a href="https://www.instagram.com/dave_to_crack_code/"><img
						src="images/instagram.png" alt=""></a>
				<a href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA"><img
						src="images/youtube.png" alt=""></a>
				<a href="https://www.linkedin.com/in/dave-to-crack-code/"><img
						src="images/linkedin.png" alt=""></a>
			</div>
		</div>

	</body>
</html>