<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" type="png" href="images/icon/favicon.png" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Login SignUp</title>
    <link rel="stylesheet" type="text/css" href="css/loginStyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- It will redirect to the Home Page after submitting the form -->
    <script>
        $(document).ready(function () {
            $("form").submit(function () {
                alert("Great Job !");
            });
        });
    </script>
</head>

<body>
    <nav>
        <div class="logo">
            <img src="/public/images/icon/logo.png" alt="logo" />
        </div>
        <ul>
            <li><a class="active" href="">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="team.html">Team</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="blog.html">Blogs</a></li>
        </ul>

        <img src="images/icon/menu.png" class="menu" onclick="sideMenu(0)" alt="menu" />
    </nav>
    <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" id="log" onclick="login()" style="color: #fff">
                Forget Password
            </button>
        </div>

        <!-- Login Form -->
        <form id="forget" class="input-group" action="" method="POST">

            <div class="inp">
                <img src="images/icon/password.png" /><input type="password" id="password" name="password"
                    class="input-field" placeholder="new Password" style="width: 88%; border: none"
                    required="required" />
            </div>
            <input type="hidden" name="user_id" value="<%=user_id%>">
            <!-- <input type="checkbox" class="check-box" />Remember Password -->
            <button type="submit" class="submit-btn">Reset Password </button><br>
            <a href="/forget" style="color:blue">forget Password</a>

        </form>
    </div>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>