<!DOCTYPE html>
<html amp>
	<head>
		<link rel="stylesheet" type="text/css" href="/style1.css">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dave</title>
		<link rel="icon" type="image/x-icon" href="/images/favicon.png">

	</head>
	<body onload="changemode1()">
		<div id="header">

			<!-- phone -->
			<div id="mySidepanel" class="sidepanel">
				<a href="javascript:void(0)" style="padding-top: 10px; font-size: larger;
					color: red;" class="closebtn" onclick="closeNav()"> × </a>

				<div id="modeicon" onclick="changemod()"><img src="/images/dark-mode.png" style="height: 20px; " alt=""></div>
				<a href="#" class="textmode">Home</a>
				<a href="/dsa" class="textmode">DSA</a>
				<a href="/editor" class="textmode">Contest Coding</a>
				<a href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA"
					class="textmode">Youtube</a>
				<a href="/contact" class="textmode">Contact me</a>
			</div>
			<div class="logoD"><a href="#"><img src="/images/logo.png"></a></div>

			<!-- dekstop -->
			<div class="head_container">
				<div id="modeicon" style="margin-top: 1.8%; padding-top: 0px;
					padding-bottom: 0px;" onclick="changemod()" style="margin-right: 8%;"> <img
						src="/images/dark-mode.png" style="height: 20px; " alt=""></div>
				<div class="headerelements"><a class="textmode" href="/contact">Contact me</a></div>
				<div class="headerelements"><a class="textmode"
						href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA">Youtube</a></div>
				<div class="headerelements"><a class="textmode" href="/editor">Contest
						Coding</a></div>
				<div class="headerelements"><a class="textmode" href="/dsa">DSA</a></div>
				<div class="headerelements"><a class="textmode" href="/index">Home</a>
				</div>
			</div>
			<button class="openbtn textmode" onclick="openNav()">☰ </button>
		</div>
		
		
		<!-- Loading Page -->
		<div id="loading">
			<table>
				<tr style="text-align: center;">
					<td><img src="/images/load_logo.png" style="height: 50px;" alt=""></td>
				</tr>
				<tr>
					<td><h1 style="display: block;">Loading...</h1></td>
				</tr>
			</table>
		</div>

		<div class="background-container">
			<div class="background-image" id="bg1">
				<div id="discriptionblock">
					<div class="discription" style="height: 15em; margin-top: 8%;">
						<div class="waviy">
							<span style="--i:1">D</span>
							<span style="--i:2">A</span>
							<span style="--i:3">V</span>
							<span style="--i:4">E</span> <br>
							<span style="--i:5">T</span>
							<span style="--i:6">O</span>
							<span style="--i:7">C</span>
							<span style="--i:8">R</span>
							<span style="--i:9">A</span>
							<span style="--i:10">C</span> 
							<span style="--i:11">K</span> <br>
							<span style="--i:12">C</span>
							<span style="--i:13">O</span>
							<span style="--i:14">D</span>
							<span style="--i:15">E</span> 
						
						</div>
					</div>
					<div class="welcome" style="padding: 5%; width: 90%;">
						<h2> "Believe in yourself. Even if things seem tough, your <br> determination can turn challenges into achievements."</h2>
					</div>
				</div>
			</div>
		</div>
			<div class="background-image" id="bg3">
				<div class="mock_block">
					<h2>Apply for Mock Interview</h2>
					<br>
						Are you ready to excel in your coding interviews? Mock interview sessions are 
						here to help! Apply for mock interviews covering the topics you've studied. These 
						sessions will boost your coding and problem-solving skills, as well as enhance your 
						communication skills while building your confidence. In our mock interview program, you'll take
						 part in a mutually beneficial process. You'll have the chance to conduct a mock interview for another 
						 candidate, and in return, another candidate will interview you. However, please be aware that any misconduct 
						 or fraudulent behavior, such as refusing interviews or engaging in dishonest actions, will lead to a 
						 temporary two-month suspension from participating in our program. We are dedicated to maintaining a 
						fair and respectful environment to help everyone succeed in their interview preparations.
						Get ready to excel in your job placements and secure that dream role!
						<br>
						<a class="applyformock" style="text-decoration: none;" href="/mock">Apply</a>
						
				</div>
			</div>
			<div class="background-image" id="bg4">
				<div class="blog_block">
                        <h2>Contribute your Blog</h2>
						"Welcome to our Blog Submission platform, where you can share your insights and 
						understanding of coding and Data Structures & Algorithms (DSA) concepts covered in our YouTube 
						channel videos. We believe that learning is a collaborative journey, and your contribution can make 
						a real impact on fellow learners. Whether it's unraveling the intricacies of a particular algorithm,
						explaining time and space complexities, or offering unique perspectives on coding challenges, your 
						blogs can serve as valuable resources for our community. Submit your well-crafted explanations along
						with time and space complexities, and our team will review and potentially feature your contributions 
						on our website. Join us in building a knowledge-sharing hub that benefits both novice and experienced
						learners alike." <br>
						<a class="contribute" href="https://forms.gle/VRTgpkr9CiJVCRwB8" style="text-decoration: none;">Contribute</a>
				</div>
			</div>
			<div class="background-image" id="bg2">
				<div class="welcome">
					
						"Hello, I'm Akash Dave Final year MCA student at NIT Trichy. I achieved AIR-22 in NIMCET 2021, AIR-3 in BHU MCA CET, and AIR-6 in MHCET. 
						I've interned at Amazon as SDE, gaining valuable experience. 
						'Dave to Crack Code' is my initiative, aiming to simplify coding, offer Mock Interviews for placements, 
						and provide Contest Coding to elevate your competitive programming skills. Let's embark on this coding journey together and excel in placements!"
					<br> <i style="text-align: right; font-size: larger;">- Akash Dave</i>
				</div>
			</div>
		  </div>

		<div class="slideshow-container">
			<div class="slides">
				
				<img src="images/thumbnail/roadmap.png" alt="Slide 1"> 
				<img src="images/thumbnail/arraystl.png" alt="Slide 2">
				<img src="images/thumbnail/recursion.png" alt="Slide 3">		
				<img src="images/thumbnail/searching.png" alt="Slide 4">
				<img src="images/thumbnail/sorting.png" alt="Slide 5">
				
			</div>
			<a class="prev" onclick="changeSlide(-1)">&#10094;</a>
			<a class="next" onclick="changeSlide(1)">&#10095;</a>
		</div>
        
		
		<script src="/script.js"></script>

		<!-- <div class="videocontent" style="display: flex; flex-direction: row;flex-wrap:
			wrap;">
			<div class="videointro">
				<iframe height="100%"
					src="https://www.youtube.com/embed/videoseries?list=PLHgb6GkhKlUWlzO187oxshw6yWLvBXC2I"
					title="YouTube video player" frameborder="0" allow="accelerometer;
					autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
					web-share" allowfullscreen></iframe>
			</div>

			<div class="videointro">
				<iframe height="100%"
					src="https://www.youtube.com/embed/videoseries?list=PLHgb6GkhKlUWW0s3_kjiDQtAXgfC-4SKL"
					title="YouTube video player" frameborder="0" allow="accelerometer;
					autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
					web-share" allowfullscreen></iframe>
			</div>
			<div class="videointro">
				<iframe height="100%"
					src="https://www.youtube.com/embed/videoseries?list=PLHgb6GkhKlUVMMWCp6CO_YF1vpdt4wskd"
					title="YouTube video player" frameborder="0" allow="accelerometer;
					autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
					web-share" allowfullscreen></iframe>
			</div>

			<div class="videointro">
				<iframe height="100%"
					src="https://www.youtube.com/embed/videoseries?list=PLHgb6GkhKlUVmZA383fqNXUKruZEX1KmG"
					title="YouTube video player" frameborder="0" allow="accelerometer;
					autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
					web-share" allowfullscreen></iframe>
			</div>

			<div class="videointro">
				<iframe height="100%"
					src="https://www.youtube.com/embed/ZSVUlV48TxI?autoplay=0&muted=1"
					title="YouTube video player" frameborder="0" allow="accelerometer;
					autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
					web-share" allowfullscreen></iframe>
			</div>
			<div class="videointro">
				<iframe height="100%" src="https://www.youtube.com/embed/RERYTy4vKmA"
					title="YouTube video player" frameborder="0" allow="accelerometer;
					autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
					web-share" allowfullscreen></iframe>
			</div>


		</div>  -->




		<div id="footer">
			<div class="bottomblock textmode">
				Beat The Luck Dave
			</div>
			
			
			<div class="socialmedia">
				<a href="/logout">Logout</a>
				<a href="https://www.instagram.com/dave_to_crack_code/"><img
						src="images/instagram.png" alt=""></a>
				<a href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA"><img
						src="images/youtube.png" alt=""></a>
				<a href="https://www.linkedin.com/in/dave-to-crack-code/"><img
						src="images/linkedin.png" alt=""></a>
			</div>
		</div>




	</body>
</html>