<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style1.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Dave </title>
	<link rel="icon" type="image/x-icon" href="/images/favicon.png">
	
</head>
<body onload="changemode1()">
	<div  id="header">
		
		<!-- phone -->
		<div id="mySidepanel" class="sidepanel">
		<a href="javascript:void(0)" style="padding-top: 10px; font-size: larger; color: red;" class="closebtn" onclick="closeNav()" > × </a>
		
		<div id="modeicon" onclick="changemod()"><img src="images/dark-mode.png" style="height: 20px; " alt=""></div>
		<a href="/index" class="textmode" >Home</a>
		<a href="/dsa" class="textmode">DSA</a>
		<a href="/editor" class="textmode">Contest Coding</a>
		<a href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA" class="textmode">Youtube</a>
		<a href="/contact" class="textmode">Contact me</a>
	  </div>
	  <div class="logoD"><a href="/index"><img src="images/logo.png" ></a></div>
	  <!-- dekstop -->
	  <div class="head_container">
		  <div id="modeicon" style="margin-top: 1.8%; padding-top: 0px; padding-bottom: 0px;"  onclick="changemod()" style="margin-right: 8%;" > <img src="images/dark-mode.png" style="height: 20px; " alt=""></div>
		  <div class="headerelements"><a  class="textmode" href="/contact">Contact me</a></div>
		  <div class="headerelements"><a class="textmode"  href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA">Youtube</a></div>
		  <div class="headerelements"><a class="textmode" href="/editor">Contest Coding</a></div>
		  <div class="headerelements"><a class="textmode" href="/dsa">DSA</a></div>
		  <div class="headerelements"><a class="textmode" href="/index" >Home</a> </div>
	 </div>
	  <button class="openbtn textmode" onclick="openNav()"  >☰ </button>  
	</div>
	  <!-- Loading Page -->
	<div id="loading">
		<table>
			<tr style="text-align: center;">
				<td><img src="images/load_logo.png" style="height: 50px;" alt=""></td>
		    </tr>
			<tr>
				<td><h1 style="display: block;">Loading...</h1></td>
			</tr>
		</table>
	</div>
    <!--  Intro -->
	<div class="discriptiondsa">
		<div class="typed-out">Recursion</div>
	</div>
	  
    <!-- Recursion  -->
	
    <div id="Recursion">
       
       <a class="serial" href="https://youtu.be/EG9DP1tlGh8">1. What is Recursion? Why and When Recursion? </a><hr>
        <a class="serial" href="https://youtu.be/mY3ai3C_UeA">2. Table of 'N' and its Reverse </a><hr>
        <a class="serial" href="https://youtu.be/jnQ4MEm2VVU">3. Nth Element in Fibonacci Series</a><hr>
        <a class="serial" href="https://youtu.be/ePlMmkYI5Wc">4. Output Questions from Recursion Tree </a><hr>
        <a class="serial" href="https://youtu.be/83MUefDkshA">5. Print All Subsets of a String </a><hr>
        <a class="serial" href="https://youtu.be/so6N06a-eUQ">6. Permutation I </a><hr>
        <a class="serial" href="https://youtu.be/V_EPWZI-5r0">7. Permutation II </a><hr>
        <a class="serial" href="https://youtu.be/jb55niV7NPo">8. Combination Sum  </a><hr>
        <a class="serial" href="https://youtu.be/ToYiq2IaUY8">9. Combination Sum II </a><hr>
        <a class="serial" href="https://youtu.be/52cHaDGEDBk">10. Generate Pathentheses </a><hr>
        <a class="serial" href="https://youtu.be/Bx0I2Hq8FDY">11. Count Number of Paths from (0,0) to (m,n). </a><hr>
        
        
    </div>

	<script src="script.js"></script>
	
	
	<div id="footer" >
		<div class="bottomblock textmode"> 
			Beat The Luck Dave
		</div> 
		<div class="socialmedia">
		<a href="https://www.instagram.com/dave_to_crack_code/"><img src="images/instagram.png" alt=""></a>
		<a href="https://www.youtube.com/channel/UC7bzV5BdSTXufiPwLRrjvxA"><img src="images/youtube.png" alt=""></a>
		<a href="https://www.linkedin.com/in/dave-to-crack-code/"><img src="images/linkedin.png" alt=""></a>
	</div>
	</div>
	
</body>
</html>